<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">logs/opsource-tests.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="${filename}">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.opsource" level="debug">
            <AppenderRef ref="File"/>
        </Logger>
        <!-- remember this for hibernate logging: https://issues.apache.org/jira/browse/LOG4J2-172 -->
        <Logger name="org.hibernate" level="warn">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>